.tableRow:last-child {
    td {
        border: 0;
    }
}

.avatar {
    width: 40px;
    height: 40px;
}

.emptyNotification {
    margin: 0;
    padding: 16px;

    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
