.form {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.fieldsWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    > div:not(:last-child) {
        margin-bottom: 20px;
    }
}

.nameField {
    width: 400px;
}

.ageField {
    width: 200px;
}

.buttonsWrapper {
    > *:not(:last-child) {
        margin-right: 20px;
    }
}
